
{% extends "base.html" %}
{% load static %}


{% block content %}

  <div class="p-16">

    <div class="relative overflow-x-auto shadow-md sm:rounded-lg">
      <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
          <caption class="p-5 text-lg font-semibold text-left rtl:text-right text-gray-900 bg-white dark:text-white dark:bg-gray-800">
             My favorite book that currently available in my list
              <p class="mt-1 text-sm font-normal text-gray-500 dark:text-gray-400">Browse a list of Flowbite products designed to help you work and play, stay organized, get answers, keep in touch, grow your business, and more.</p>
          </caption>
          {% if borrow_books|length %}
          <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
            <tr>
                <th scope="col" class="px-6 py-3">
                    Borrow Id
                </th>
                <th scope="col" class="px-6 py-3">
                    Book Name
                </th>
                <th scope="col" class="px-6 py-3">
                    Category
                </th>
                <th scope="col" class="px-6 py-3">
                    Price
                </th>
                <th scope="col" class="px-6 py-3">
                    Borrow AP
                </th>
                <th scope="col" class="px-6 py-3">
                    Return
                </th>

            </tr>
        </thead>
        <tbody>
          {% for borrow in borrow_books %}
          <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
            <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                {{borrow.id}}
            </th>
            <td class="px-6 py-4">
              {{borrow.book.title}}
            </td>
            <td class="px-6 py-4">
              {{borrow.book.category.name}}
            </td>
            <td class="px-6 py-4">
                ${{borrow.book.price}}
            </td>
            <td class="px-6 py-4">
                ${{borrow.balance_after_borrow}}
            </td>
            <td class="px-6 py-4">
              <a href="{% url 'return-borrowed-book' borrow.id %}" class="font-medium text-blue-600 dark:text-blue-500 hover:underline">Return</a>
            </td>

        </tr>
          {% endfor %}
        </tbody>

          {% endif %}
      </table>
    </div>

  </div>

{% endblock content %}